/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  --red: #ff0000;
  --white: #ffffff;
  --black: #000000;
  --gray: #f2f2f2;

  color: var(--white);
  background-color: var(--black);
  font-size: 1em;
  line-height: 1.4;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  /*  Align items center using flex*/
  justify-content: center;
}

main {
  max-width: 1060px;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-image: url("../img/pexels-quang-nguyen-vinh-2175952.jpg");
  background-size: cover;
  background-position: center;
}

nav {
  width: 100%;
}

nav > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;

  padding: 0;
}

nav > li {
  display: block;
  padding: 10px;
  background-color: #f2f2f2;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}

/* Add styles for the links */
nav a {
  text-decoration: none;
  color: var(--black);

  &:hover {
    background-color: var(--red);
    color: var(--white);
  }
}

.active > li {
  background-color: var(--red);
  color: var(--white);
}

/* Change link color on hover */
nav > a:hover {
  color: #007bff;
}

.section {
  width: 100%;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

.logo {
  /* Align contained div-elements vertically */
  display: flex;
  align-items: center;
  font-size: 180%;
  font-weight: bold;
}

.bg-red {
  background-color: var(--red);
}
.bg-gray {
  background-color: var(--gray);
}

.text-center {
  text-align: center;
}
